:root {

	/* semantic color bg */
	--page-bg: var(--color-base00);
	--page-bg-01: var(--color-base01);

	/* fonts */
	--font-base: var(--color-base04);
	--font-family: 

	/* tabs */
	--tab-size: 2ch;
	--tab-color: var(--color-base03);

	--padding-container: 1rem;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

